<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igoosd.mapper.AccountBalanceMapper">


    <select id="fuzzyFindPage" resultType="com.igoosd.domain.AccountBalance">
        select
        t.id as id,
        t.balance_date as balanceDate,
        t.total_charge_amount as totalChargeAmount,
        t.total_member_preferential_amount as totalMemberPreferentialAmount,
        t.total_real_charge_amount as totalRealChargeAmount,
        t.total_online_amount as totalOnlineAmount,
        t.total_offline_amount as totalOfflineAmount,
        t.total_arrears_charge_amount as totalArrearsChargeAmount,
        t.create_time as createTime
         from t_account_balance t
        <trim prefix=" where " prefixOverrides="and">
            <if test="startTime != null">
                and t.balance_date >= #{startTime}
            </if>
            <if test="endTime != null">
                and t.balance_date &lt;= #{endTime}
            </if>
        </trim>
    </select>
    <select id="getTotalAmount" resultType="java.math.BigDecimal">
        SELECT
         sum(total_real_charge_amount) as totalAmount
        from t_account_balance
        where balance_date >= #{startDate}
        and balance_date &lt; #{endDate}
    </select>
</mapper>
