<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igoosd.mapper.OrderMapper">


    <select id="getOrderTotalAmount" resultType="java.math.BigDecimal">
        SELECT
        sum(t.pay_amount)
        FROM t_order t
        <trim prefix="where" prefixOverrides="AND">
            <if test="collectorId != null">
                AND t.collector_id = #{collectorId}
            </if>
            <if test="payWay != null">
                AND t.pay_way = #{payWay}
            </if>
            <if test="payStatus != null">
                AND t.pay_status = #{payStatus}
            </if>
            <if test="orderType != null">
                AND t.order_type = #{orderType}
            </if>
            <if test="startTime != null">
                AND t.create_time > #{startTime}
            </if>
            <if test="endTime != null">
                AND t.create_time &lt; #{endTime}
            </if>
        </trim>
    </select>


    <select id="queryUncertaintyOrderList" resultType="com.igoosd.domain.Order">
        select
          id as id,
          order_type as order_type,
          collector_id as collectorId,
          order_no as orderNo,
          pay_way as payWay,
          pay_amount as payAmount,
          pay_status as payStatus,
          charge_rsp_info as chargeRspInfo,
          callback_info as callbackInfo
        from t_order
        where order_type != 4
        AND pay_status in (1,5,6)
        create_time BETWEEN #{startDate} AND  #{endDate}
        AND
        <if test="collectorId != null and collectorId > 0">
            AND collector_id = #{collectorId}
        </if>
    </select>

    <select id="getSumPayWayPayAmount" resultType="java.math.BigDecimal">
        select
        sum(pay_amount)
        FROM t_order
        where update_time BETWEEN #{startDate} AND  #{endDate}
        AND  pay_way in
        <foreach open="(" close=")" collection="list" item="item" separator=",">
            #{item}
        </foreach>
        AND order_type != 4
        AND  pay_status = 2
    </select>

    <select id="fuzzyFindPage" resultType="com.igoosd.domain.Order">
          select
          t.id as id,
          t.order_type as order_type,
          t.collector_id as collectorId,
          t.order_no as orderNo,
          t.pay_way as payWay,
          t.pay_amount as payAmount,
          t.pay_status as payStatus,
          t.charge_rsp_info as chargeRspInfo,
          t.callback_info as callbackInfo,
          t.remark as remark,
          t.create_time as createTime,
          t.update_time as updateTime,
          c.name as collectorName

          from t_order t
          left join t_collector c on c.id = t.collector_id
          <trim prefix=" where " prefixOverrides="and">
             <if test="collectorId !=null">
                  and t.collector_id = #{collectorId}
             </if>
             <if test="startTime != null">
                  and t.create_time >= #{startTime}
             </if>
              <if test="endTime != null">
                  and t.create_time &lt;= #{endTime}
              </if>
          </trim>

    </select>

</mapper>
